body{
    background-color: rgb(51, 255, 0);
}
.login_div1 , .login_div2
	{
		background: rgb(255, 255, 255);
		padding: 10px;
		float: none;
		border-radius: 15px;
	}
    h3{
        font-style: italic;
        color: rgb(255, 0, 0);
        display: block;
    }
   